@font-face {
    font-family: indieFlower;
    src: url(fonts/IndieFlower.ttf);
}
@font-face {
    font-family: pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: ShortStack;
    src: url(fonts/ShortStack-Regular.ttf);
}

body{
    background-image: url(images/backgrounds/bg3.png);
    background-size: cover;
    /*font-family: "indieFlower";*/
    font-family: "ShortStack";
    font-weight: 600;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    cursor: default;
    
    /*font-size: 1.3vw;*/
}

#infoPanel{
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 32px;
    border-top: 1px solid #335533;
    background: #87de87;
    display: none;
    color: #335533;
    font-weight: bold;
    
    padding-top: 5px;
    padding-left: 25px;
}

h1{
    font-family: "pacifico";
    font-size: 3vw;
    width: 100%;
    text-align: center;
}

.textfluid{
    text-align: center;
    width: 100%;
}

.gridster li{
    list-style: none;
    margin: 1px;
    border: 1px solid rgba(0,0,0,0);
}

li.editable{
    border: 1px dashed #333333;
    background: rgba(255,255,125,0.4);
}

li.editable:hover{
    cursor: move;
}

#header{
    height: 60px;
}
#controlPanel{
    /*display: none;*/
    /*background: rgba(0,0,0,0.2);*/
    position: fixed;
    right: 15px;
    top: 75px;
    width: 126px;
    height: 500px;
    z-index: 10;
    margin-right: -15px;
    /*background: #ff0000;*/
}

#dashBoard{
    /*background: #ff00ff;*/
}

.component{
    text-transform: uppercase;
    
    border: 1px solid #333333;
    border-radius: 5px;
    background: rgba(255,255,255,0.4);
}


.PlayComponentButton{
    width: 20px;
    height: 20px;
    /*background: #00ff00;*/
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/icons/PlayComponentButton.png);
    /*background-image: url(images/icons/PlayComponentButton.svg);*/
    filter: opacity(0);
    
}

.component:hover .PlayComponentButton, .component.hover .PlayComponentButton{
    background-image: url(images/icons/PlayComponentButtonHover.png);
    animation: filter-animation 1s infinite;
}

@keyframes filter-animation {
    0% {
    filter: opacity(0);
    }
    
    50% {
    filter: opacity(1);
    }
        
    100% {
    filter: opacity(0);
    }}


.PlayComponentButton:hover{
    background-image: url(images/icons/PlayComponentButtonHover.png) !important;
    filter:opacity(1);
    animation: none !important;
}

/* Icons */

.controlButton{
    width: 64px;
    height: 64px;
    margin: 10px;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.4s;
    position: fixed;
}
.controlButton:hover{
    width: 74px;
    height: 74px;
    margin: 5px;
    cursor: pointer;
    filter: saturate(1.5);
}

.controlButton:active{
    filter: brightness(1.3);
}

#exportDialog, #importDialog{
    display: none;
}

#menuButton{
    background-image: url(images/icons/menu.png);
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 100;
}

#btResetAssembly{ background-image: url(images/icons/restart.png); z-index: 90;}
#btResetAssembly.visible{
    top: 80px;
    right: 0px; }
    
#btShowEditMode{ background-image: url(images/icons/editmode.png); z-index: 90;}
#btShowEditMode.visible{
    top: 160px;
    right: 0px; }

#btShowPlayerMode{ background-image: url(images/icons/asmode.png); z-index: 90;}
#btShowPlayerMode.visible{
    top: 160px;
    right: 0px;
}

#BtSave, #BtSaveConfig{ background-image: url(images/icons/save.png); z-index: 80;}

#BtSave{
    top: 240px;
    right: 0px;
}

#BtSaveConfig.visible{
    top: 240px;
    right: 0px;
}




#BtExport, #BtExportConfig{ background-image: url(images/icons/export.png); z-index: 80;}

#BtExport{
    top: 320px;
    right: 0px;
}

#BtExportConfig.visible{
    top: 320px;
    right: 0px;
}



#btOptions{ background-image: url(images/icons/optionsApp.png); z-index: 70;}
#btOptions.visible{
    top: 80px;
    right: 0px;
}


#btQuit, #btQuitConfig{ background-image: url(images/icons/quit.png); z-index: 70;}
#btQuit.visible{
    top: 400px;
    right: 0px;
}

#btQuitConfig.visible{
    top: 400px;
    right: 0px;
}

#btLlxHelp, #btLlxHelpConfig{ background-image: url(images/icons/help.png); z-index: 70;}
#btLlxHelp.visible{
    /*bottom: 20px;*/
    top: calc(100% - 128px);
    right: 0px;
}

#btLlxHelpConfig.visible{
    /*bottom: 20px;*/
    top: calc(100% - 128px);
    right: 0px;
}


.buttonhidden{
    top: 0px !important;
    right: 0px !important;
}

/* Overwrite vex.css */

.vex, .vex-theme-flat-attack, .vex-content {
    /*font-family: "indieFlower" !important;*/
    font-family: "ShortStack" !important;
    font-weight: 600 !important;
    font-size: 1.3vw !important;
    
}
.vex-dialog-message{
    font-size: 1.6vw !important;
    text-align: center !important;
}

.vex-content{
    float: left !important;
    width: 66.66666667% !important;
    position: relative !important;
    min-height: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-left: 16.66666667% !important;
}

.vex-dialog-input, .vex-dialog-buttons{
    float: left !important;
    clear: both;
    width: 100%;
}


.vexExtraWidth{
    width: 90% !important;
    margin-left: 5% !important;
    top: 10px !important;
}

.vexExtraWidthExpanded{
    width: 90% !important;
    margin-left: 5% !important;
    top: 50px !important;
}

.vexExtraHeight{
    padding-top: 20px !important;
    overflow:hidden;
}


.vex_dialog_input_maxHeight{
    height:90% !important;
}

/* Component Selector */

.componentVisibilitySelectorIcon{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin: 0px;
    float: left;
    clear: both;
    
}

.componentVisibilitySelector{
    width: 100px;
    padding: 0px;
    height: 130px;
    float: left;
    margin: 10px;
    /*position: relative;*/
    transition: all ease 1s;
    
    /*display: table-cell;
    vertical-align: bottom;*/
    
}

.componentVisibilitySelector:hover{
    cursor: pointer;
    background-color: #eeeecc;
    background: linear-gradient( 0deg, rgba(255,100,100,0), rgba(255,210,100,1));
    border-radius: 10px;
}

.componentVisibilitySelectorText{
    /*position: absolute;
    bottom: 0px;
    width: 100%;*/
    float: left;
    margin: 0px;
    clear: both;
    width: 100px;
    height: 20px;
    text-align: center;
}

.modifyable{
       cursor: copy;
}

.visibilityIcon{
    width: 24px;
    height: 24px;
    top: 3px;
    right: 3px;
    position: absolute;
    
    background-size: cover;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #888888;
}

.visibilityIcon:hover{
    cursor: pointer;
}

.visibleItem{background-image: url(images/icons/eye.png);}
.hidenItem{background-image: url(images/icons/eye_closed.png);}
.hideparentDiv{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
}

/* playWindow */

.playWindow{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,0.8);
    z-index: 100;
    opacity: 0;
    /*background-image: url(images/backgrounds/bg3.png);*/
    background-size: cover;
}

.playWindowCloseButton{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    /*background-color: #cccccc;*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/icons/closePlayButton.png);    
}

.PlayableContent{
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: auto;
    background: #ffffff;
    border-radius: 5%;
    overflow: hidden;
}

.PlayableContentLite{
    position: absolute;
    top: 10%;
    bottom: 30%;
    left: 20%;
    width: 60%;
    height: auto;
    box-shadow: 0 18px 18px -18px black;
    background: #ffffff;
    border-radius: 3%;
    
    /*background: #ffff00;*/
}

.ConfirSectionFingers{
    position: absolute;
    top: 70%;
    bottom: 5%;
    left: 20%;
    right: 20%;
    width: 60%;
    height: auto;
    /*background: #ffff00;*/
}

.thumbs{
    background-size: contain;
    background-position:center;
    background-repeat: no-repeat;
    height: 100%;
    transition: all ease 0.3s;
    /*background-color: #ff00ff;*/
}

.thumbs:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.thumbsup{
    background-image: url(images/icons/thumbup.png);
}

.thumbsdown{
    background-image: url(images/icons/thumbdown.png);
}

.playBigIcon{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #ff00ff;*/
    position: absolute;
    top: 15%;
    left: 15%;
    bottom:15%;
    right: 15%;
}

.playBigIconLite{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 20%;
    bottom:20%;
    right: 20%;
}


.playContentButton{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    /*background-color: #ff0000;*/
    position: absolute;
    top: 90%;
    left: 45%;
    bottom:0%;
    right: 45%;
    background-image: url(images/icons/PlayContentButton.png);
    transition: all ease 0.3s;
}

.playContentButton:hover{
    top: 85%;
    left: 43%;
    bottom:0%;
    right: 43%;
}

#audioStartStop{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 90%;
    right: 90%;
    left: 1%;
    bottom:1%;
    background-image: url(images/icons/audio.png);
    display: none;
}
.pulsatingaudio {
    /* Animation */
    display: block !important;
    animation-name: pulse_animation;
	animation-duration: 500ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
    
}

#audioStartStop:hover{
    background-image: url(images/icons/stopaudio.png);
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1.05); }
	40% { transform: scale(1.1); }
	50% { transform: scale(1.05); }
	60% { transform: scale(1); }
	/*70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }*/
}

.mediaplayer{
    display: none;
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    width: 80%;
    height: 80%;
    z-index: 110;
    background: rgba(255,255,255,0.8);
    
}

.previewPlayButton, .recordButton{
    border-radius:50%;
    width: 32px;
    height: 32px;
    padding:0px !important;
    margin:0px 0px 0px 10px !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
        
}

.previewPlayButton:active, .previewPlayButton:focus {
    outline: 0 !important;
    background-image: url(images/icons/audio.png);
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

.recordButton:active, .recordButton:focus {
    outline: 0 !important;
    background-image: url(images/icons/recording.png);
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}


.previewPlayButton:hover, .recordButton:hover{
    border-radius:50%;
    width: 32px;
    height: 32px;
    padding:0px !important;
    margin:0px 0px 0px 10px !important;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    
}

.previewPlayButton{
    /*background-image: url(images/icons/PlayComponentButton.png);*/
    background-image: url(images/icons/audio.png);
}

.recordButton{
    background-image: url(images/icons/recording.png);
}

.snippet{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 90px;
}

input[type="text"].text_error{
  background-color: #fce4e4 !important;
  border: 1px solid #cc0033 !important;
  outline: none !important;
}

input[type="file"].text_error{
  background-color: #fce4e4 !important;
  color:  #cc0033 !important;
  outline: none !important;
}


/* CSS for recording audio */

.microphone{
    background-image: url(images/icons/recording.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
}

.microphone:hover{
    background-image: url(images/icons/recordingHover.png);
    cursor: pointer;
}


.microphoneRecording{
    background-image: url(images/icons/recordingBW.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
}

.microphoneRecording:after{
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    background-color: #ff0000;
    border-radius: 50px;
    display: inline-block;
    width: 24px; 
    height: 24px;
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left:32px;
    
}

.microphoneRecording:hover{
    cursor: pointer;
}

.audioRecordMessage{
    text-align:center;
    margin-top: 32px;
}


.InActiveButtonPlay{}
.ActiveButtonPlay{
    background-color: #5cb85c;
    color: #ffffff;
}
.ActiveButtonAccept{
    background-color: #3288e6;
    color: #ffffff;
}
.InActiveButtonAccept, .InActiveButtonPlay{ }


/*.Blink {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}*/
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}



.configureComponentButton{
    background-image: url("../../css/images/icons/options.png");
    width: 32px;
    height:32px;
    background-position: center;
    margin-top:12px;
    background-size: cover;
}

.configureComponentButton:hover{
    background-image: url("../../css/images/icons/optionsHover.png");
}

.configureComponentButtonDefault{
    background-image: url("../../css/images/icons/options.png");
    width: 48px;
    height:48px;
    background-position: center;
    background-size: cover;
    position: absolute;
    left: 12px;
    top: 12px;
    transition: all 0.2s;
}

.configureComponentButtonDefault:hover{
    background-image: url("../../css/images/icons/optionsHover.png");
    width: 56px;
    height:56px;
    left: 8px;
    top: 8px;
}


.thumbnailBG:hover{
    background-color: #ffcc00 !important;
}

.removeBgButton{
    position: absolute;
    /*top: 70%;*/
    right: 0px;
    bottom: 0px;
    margin-right: -8px;
    margin-bottom: 16px;
    width: 32px;
    height: 32px;
    width: 32px;
    height: 32px;
    background-color: rgba(255,100,100,0.9);
    border-radius: 50%;
    display: none;
    background-image: url(/components/classmates/img/cross.png);
    background-size: contain;
    
}

.removeBgButton:hover{
    cursor: pointer;
}

.thumbnail:hover .removeBgButton{
    display: inline;
}

/*Vertical and horizontal components layout*/

#divVIcon, #divHIcon {
    padding: 0px !important;
    margin: 0px !important;
    width: 33%;
    float: left;
    text-align: center;
    max-height: 128px;
    max-height: 128px;
    position: relative;
}

.textLayoutSelector{
    width: 66%;
    float: left;
    position: relative;
}

.LayoutSelectorText{
    width: 100%;
    border-bottom: 1px solid #3288e6;
    margin-bottom: 10px;
    margin-top:10px;
}

.LayoutSelector{
    float: left;
    padding: 15px;
    position: relative;
    border-radius: 5px;
    
    /*css("background", "#3288e6").css("float", "left").css("padding", "15px");*/
}

.LayoutSelector.selected{
    background-color: #DCEDC8;
    border: 1px solid #8BC34A;
}

.LayoutSelector:hover{
    background-color: #3288e6;
}

/*#divVIcon{
    background-image: url(images/icons/vlayout.png);
}

#divHIcon{
    background-image: url(images/icons/hlayout.png);
}


#divVIcon, #divHIcon {
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: -15px; 
    margin-left: -15px;  
    padding-bottom: 15px;
    background-position: 50% 50%;
}*/