
.iconWeekday{
    width: 30%;
    float: left;
    /*height: 100%;*/
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s;
    background-position: center;
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

.weekdaystatuscontainer{
    display: table;
    height: 100%;
    width: 60%;
    float: left;
    
}

.iconWeekdayText{
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    
    /*font-size: 10vw;*/
    /*height: 100%;
    width: 70%;*/
}

.monday{background-image: url(img/monday.png); }
.weekdaySelectIcon.monday:hover{background-image: url(img/monday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.tuesday{background-image: url(img/tuesday.png); }
.weekdaySelectIcon.tuesday:hover{background-image: url(img/tuesday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.wednesday{background-image: url(img/wednesday.png); }
.weekdaySelectIcon.wednesday:hover{background-image: url(img/wednesday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.thursday{background-image: url(img/thursday.png); }
.weekdaySelectIcon.thursday:hover{background-image: url(img/thursday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.friday{background-image: url(img/friday.png); }
.weekdaySelectIcon.friday:hover{background-image: url(img/friday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.saturday{background-image: url(img/saturnday.png); }
.weekdaySelectIcon.saturday:hover{background-image: url(img/saturnday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }

.sunday{background-image: url(img/sunday.png); }
.weekdaySelectIcon.sunday:hover{background-image: url(img/sunday.png), linear-gradient( 0deg, white, white 20%, rgba(255,255,255,0.5)); }
    
.weekdaySelectIcon{
    position: relative;
    /*width: 128px;*/
    height: 128px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    opacity: 0.8;
    border-radius: 10px;
}


.weekdaySelectIcon:hover{
     opacity: 1;
     cursor: pointer;
     background-position: center;
     transform: scale(1.5);
     z-index: 10;
     box-shadow: 3px 3px 3px #333333);
    /*filter: drop-shadow(3px 3px 3px #333333);*/
     
}


.weekdaySelectInfo{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
    transition: all 0.4s;
    margin-left: -15px;
}



.weekdaySelected:after{
    background-image: url("../../css/images/icons/check.png");
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    position: absolute;
    top: 24px;
    left: 30%;
}

.weekdayConfigIcon{
    float: left;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;   
}

.weekdayConfig{}

.weekdayConfigRow{height: 50px;}

.weekdayConfigRow:hover{
    cursor: pointer;
}
.weekdayConfigText{
    float: left;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
    
    }


.weekdayConfigRow{
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin-bottom: 5px;
}

.weekdayConfigRow:hover{
    cursor: pointer;
    background: #42a5f5;
}

.weekdayConfigRow.weekdayStatusActive:after{
    background-image: url("../../css/images/icons/check.png");
    background-size: 24px 24px;
    background-position: center;
    display: inline-block;
    width: 24px; 
    height: 24px;
    content:"";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 10px;
}




