[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Classroom Assembly
GenericName=Classroom Assembly
Comment=Classroom Assembly for children and special education
Name[es]=Asamblea de aula
Name[ca@valencia]=Assemblea d'aula
Name[ca_ES.UTF-8@valencia]=Assemblea d'aula
Name[ca_ES@valencia]=Assemblea d'aula
Comment[es]=Asamblea de aula para infantil y educación especial
Comment[ca@valencia]=Assemblea d'aula per a infantil i educació especial
Comment[ca_ES.UTF-8@valencia]=Assemblea d'aula per a infantil i educació especial
Comment[ca_ES@valencia]=Assemblea d'aula per a infantil i educació especial
Exec=classroom-assembly
Terminal=false
StartupNotify=false
Categories=LliureX-Infantil;GTK;Education
Icon=classroom-assembly
TryExec=/usr/bin/classroom-assembly
