[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Class Jam
GenericName=Class Jam
Comment=Classroom Assembly for children and special education
Name[es]=Asamblea de aula
Name[ca@valencia]=Assemblea d'aula
Name[ca_ES.UTF-8@valencia]=Assemblea d'aula
Name[ca_ES@valencia]=Assemblea d'aula
Comment[es]=Asamblea de aula para infantil y educación especial
Comment[ca@valencia]=Assemblea d'aula per a infantil i educació especial
Comment[ca_ES.UTF-8@valencia]=Assemblea d'aula per a infantil i educació especial
Comment[ca_ES@valencia]=Assemblea d'aula per a infantil i educació especial
Exec=class-jam
Terminal=false
StartupNotify=false
Categories=LliureX-Infantil;GTK;Education
Icon=class-jam
TryExec=/usr/bin/class-jam
