
.loadMainContainer{
    width: 100%;
    height: 100%;
    background: #efefef;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    z-index: 1000;
}

.loadContainer{
    margin-left: 50px;
    margin-right: 50px;
}


.fileSelector{
    float: left;
    width: 100%;
    margin-top: 250px;
    transition: all ease 0.3s;
}

.hr{
   float: left;
   width: 100%;
   border: 0px;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   
}

.frame { width: 100%; height: 160px; padding: 0px; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none;  }
.frame .slidee li {
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    width: 130px;
    height: 100%;
}

.scrollbar { width: 100%; height: 5px; padding-top: 5px; /*background: #ff0000;*/margin-top: 50px;}
.scrollbar:hover{
    cursor: url("images/icons/scroll.png"), move;
}
/*.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 * /
    height: 100%;
    background: #222;
}*/

.scrollbar .handle {
   width: 100px; /* overriden if dynamicHandle: 1 */
   
   border: 0px;
   height: 1px;
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
   }
   
.pages {
	list-style: none;
	margin: 20px 0;
	padding: 0;
	text-align: center;
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #666;
}


.asItem{
    background: #ffffff;
    margin: 10px;
    box-shadow: 0 6px 6px -6px black;
    height: 90%;
    padding: 10px;
    transition: all ease 0.2s;
}

.asItem.selected{
    background: #ffffef;
}

.asItem:hover{
    margin-top: 0px;
    box-shadow: 0 8px 6px -6px black;
}

.newAsDiv{
    display:none;
    transition: all ease 0.3s;
    clear: both;
    float: left;
    width: 500px;
    
}
.AsInputName{
    width: 100%;
}

.image_picker_image{
    width: 100px !important;
    height: 100px !important;
}

.NewAsFormControl{
    font-size: 1.5em;
    margin-top: 30px;
}