

.aluItem{
    /*box-shadow: inset 0 0 10px #000000;
    border: 1px solid #cccccc;*/
    text-align: center;
    margin: 0px;
    padding: 0px;
    
    width: 160px;
    height: 160px;
    float: left;
    
}


.aluImg{
    object-fit: contain;
    height:50%;
    width: 100%;
}

.aluImg:hover{
    cursor: default;
}

.aluName{
    text-align: left;
    float: left;
    clear: both;
    text-align: center;
    width: 100%;
    background: #f0f0f0 !important;

}

.newAluButton{
    /*background: #cccccc !important;*/
    background: url(/css/images/icons/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 64px;
    margin-top:20px;
    transition: all 0.2s;
        
}

.newAluButton:hover{
    cursor: pointer;
    height: 74px;
    margin-top:15px;
    
    
}

/*  Drawing Component */

.emptySchool{
    background: url("/components/classmates/img/school.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
        
}

.classmatesContainer{
     display: grid;
  grid-template-columns: 2px 2px 2px;
  grid-gap: 10px;
  background-color: #ff0;
  color: #444;
}

.aluicon{
   background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.aluiconimg{
    
}

.aluiconname{
    
}



