
.iconSeason{
    width: 100%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.4s;
    background-position: center;
    overflow: hidden;
}

.iconSeasonText{
    /*font-size: 10vw;*/
    height: 15%;
    width: 100%;
}

.spring{
    background-image: url("img/spring.png");
}

.summer{
    background-image: url("img/summer.png");
}

.autumn{
    background-image: url("img/autumn.png");
}

.winter{
    background-image: url("img/winter.png");
}

    
.seasonSelectIcon{
    position: relative;
    /*width: 128px;*/
    height: 128px;
    float: left;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    opacity: 0.8;
}


.seasonSelectIcon:hover{
     opacity: 1;
     cursor: pointer;
     background-position: center;
     transform: scale(1.5);
     z-index: 10;
    filter: drop-shadow(3px 3px 3px #333333);
     
}


.seasonSelectInfo{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align:center;
    transition: all 0.4s;
    margin-left: -15px;
}

/*.seasonSelectIcon:hover .seasonSelectInfo{
      font-size: 2vw;
      cursor: pointer;
}*/

/*.seasonSelected{
    background-color: #42a5f5;
    border-radius: 5px;
    
}*/

/*
.seasonSelected:after{
    background-image: url("../../css/images/icons/check.png");
    background-size: 40px 40px;
    display: inline-block;
    width: 40px; 
    height: 40px;
    content:"";
    position: absolute;
    top: 24px;
    left: 30%;
}
*/

.seasonConfigIcon{
    float: left;
    width: 48px;
    height: 48px;
    background-size: contain;
    background-repeat: no-repeat;   
}

.seasonConfig{}

.seasonConfigRow{
    /*height: 50px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    margin-bottom: 5px;
    
    */
    border-radius: 2px;
    margin-bottom: 5px;
    opacity: 0.3;
    filter: grayscale(80%);
}

.seasonConfigRow:hover{
    cursor: pointer;
    background: #42a5f5;
}
.seasonConfigText{
    float: left;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.seasonConfigRow.seasonStatusActive{
    filter: grayscale(0%);
    opacity: 1;
}

/*.seasonConfigRow.seasonStatusActive:after{
    background-image: url("../../css/images/icons/check.png");
    background-size: 24px 24px;
    background-position: center;
    display: inline-block;
    width: 24px; 
    height: 24px;
    content:"";
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 10px;
}
*/



